<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <title>Pegel</title>
    <link rel="stylesheet" type="text/css" href= "{{ url_for('static',filename='styles/mainpage.css') }}">
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>
<body>
    <header>
        <h1>Pegel</h1>
    </header>


    <main>
        <div class="panel">
            <h2>Pegel Erfassung</h2>
            <p>Diese Informationen  werden von PEGELONLINE.com erhoben.</p>
        </div>
        <section class="form-section">
            <h2>Veri Arama</h2>
            <form method="POST">
                <label for="pegel-select">İstasyon Seçin:</label>
                <select id="pegel-select" name="pegel">
                    {% for pegel in pegel %}
                        <option value="{{ pegel.number }}">{{ pegel.name }}</option>
                    {% endfor %}
                </select>

                <label for="start-date">Başlangıç Tarihi:</label>
                <input type="date" id="start-date" name="start_date">

                <label for="end-date">Bitiş Tarihi:</label>
                <input type="date" id="end-date" name="end_date">
                <button name="show_today" type="submit">Sadece Bugün</button>
                <button name="show_month" type="submit">Sadece bu ay</button>
                <input type="submit" value="Veri Ara">
            </form>
        </section>

        <section class="graph-section">
            <h2>Grafik</h2>
            <div id="grafik1"></div>
            <script>
                var grafik1 = {{ grafik1JSON|safe }};
                Plotly.newPlot('grafik1', grafik1.data, grafik1.layout);
            </script>
        </section>
    </main>

    <footer>
        <p>Technische Hochschule Ostwestfalen-Lippe 2023</p>
    </footer>
</body>
</html>